<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
  <head>
    <title>Porch33</title>

    <meta charset="utf-8">
  </head>

  <body>
    <h1>Porch33</h1>

    <!-- Begin MailChimp Signup Form -->
    <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="http://porch33.us5.list-manage1.com/subscribe/post?u=70a1170180d9b1720e2f79083&amp;id=57c8facb22" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <label for="mce-EMAIL">Stay up to date with Porch33 as it takes form.</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>
    <!--End mc_embed_signup-->

    {{ content }}
  </body>
</html>
